<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineVibe: Gêneros</title>
    <link rel="stylesheet" href="generos.component.css">
</head>

<header>
    <h1>Gêneros de Filmes</h1>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/generos">Gêneros</a>
      <a routerLink="/lancamentos">Lançamentos</a>
      <a routerLink="/resenhas">Resenhas</a>
    </nav>
  </header>

<body>
  <section id="generos-lista">
  <h2>Explore os Gêneros</h2>
  <ul>
    <li><a href="#">Ação</a></li>
    <li><a href="#">Comédia</a></li>
    <li><a href="#">Drama</a></li>
    <li><a href="#">Suspense</a></li>
    <li><a href="#">Ficção Científica</a></li>
  </ul>
</section>  
</body>

<footer>
    <p>&copy; 2024 Notícias de Filmes. Todos os direitos reservados.</p>
  </footer>

</html>
